* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("img/fondo1.png");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh; 
}

.login-container {
  background-color: rgba(255, 255, 255, 0.136); 
  backdrop-filter: blur(2px); 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%
}

.registro{
  color:#96773a ;
}


