/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registro-container {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  h2 {
    text-align: center;
    color: #e91e63; 
    margin-bottom: 20px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group-resgistro{
    margin-bottom: 15px;
  }
  
  .label-resgistro {
    font-weight: bold;
    color: white;
  }
  
  input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
  }
  
  input:focus {
    border-color: #e91e63;
    outline: none;
  }
  
  .btn-submit {
    padding: 10px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color: #d81b60;
  }


.mensaje-exito {
  color: white;        
  background-color: #e91e63;; 
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}


.mensaje-error {
  color: white;         
  background-color: red; 
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

  
  